@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply border-border;
	}

	:root {
		--border: 240 5.9% 90%;
		--radius: 0.5rem;
	}

	.dark {
		--border: 240 3.7% 15.9%;
	}
}
